---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-header{
		background-color: #009fda;
		color:white;
		border: none;
		height: 70px;
		min-height: 70px;
		position: relative;
		.logo{
			    height: 70px;
					width: 200px;
					background-image: url(./logo.svg);
					background-repeat: no-repeat;
					background-position: center;
					float: left;
		}
}

body{
	background-color:#eee;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.page-content {
	overflow-y: auto;
	flex-grow: 1;
	padding: 20px;
}

.side-menu{
		min-width: 350px;
		background-color:#414b53;
		ul{
			margin: 0;
		}
		ul li{
			list-style: none;
			padding-left: 10px;
		}
	  .dir-item{
			font-size: 16px;
			height: 30px;
			padding-left: 5px;
			padding-top: 13px;
			color: #d8d8d8;
			background-color: transparent;
			transition: all .2s ease-in-out;
			font-size: 16px;
		}
	 .page-item{
			display: block;	 
			font-size: 16px;
			height: 30px;
			padding-left: 5px;
			padding-top: 13px;
			color: #d8d8d8;
			background-color: transparent;
			transition: background .2s ease-in-out;
			a{
				color:white;
				text-decoration: none;
			}
			
	 }
}